<%
    var sub_title = getData('sub_title')
    var show_sub_title = getData('show_sub_title')
    var title = getData('title')
    var show_title = getData('show_title')
    var description = getData('description')
    var show_description = getData('description')
    
    var block = getData('block')
    
%>
<div data-id="<%=data.id%>" id="block2" class="block2 block <%if(!show_sub_title && !show_title){%>pt-0<%}%>">
    <div class="kdg-container">
        <div class="block-title text-c">
            <%if(show_sub_title){%>
                <p><%=sub_title%></p>    
            <%}%>
            <%if(show_title){%>
                <h2><%=title%></h2>    
            <%}%>
        </div>
        <div class="description">
            <%if(show_description){%>
                <div><%-description%></div>
            <%}%>
        </div>
        <div style="--block2-item : <%=block.length%>" class="maincontent">
            <div class="kdg-row kdg-column-3">
                <div class="track">
                    <%block.forEach(el => {%>
                        <div class="item">
                            <div style="background-color: <%=el.background_color%>;" class="roadmap">
                                <%if(el.show_title){%>
                                    <div style="background-color: <%=el.background_color_title%>;" class="top">
                                        <%-el.title%>
                                    </div>
                                <%}%>
                                <%if(el.show_content){%>
                                    <div style="background-color: <%=el.background_color_content%>;" class="bottom">
                                        <%-el.content%>
                                    </div>
                                <%}%>
                            </div>
                        </div>
                    <%})%>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    window.addEventListener('load', function() {
        var listblock2 = Array.from(document.querySelectorAll('.block2'))
        listblock2.forEach(function(block2){
            var content = Array.from(block2.querySelectorAll('.roadmap'))
            var heightest = 0
            content.forEach(function(el) {
                if(el.offsetHeight > heightest) heightest = el.offsetHeight
            })
    
            var topcontent = Array.from(block2.querySelectorAll('.roadmap .top'))
            var heightesttop = 0
            topcontent.forEach(function(el) {
                if(el.offsetHeight > heightesttop) heightesttop = el.offsetHeight
            })
    
            topcontent.forEach(function(el) {
                el.style.height = heightesttop + 'px'
            })
            
            var bottom = Array.from(block2.querySelectorAll('.roadmap .bottom'))
            var heightestbot = 0
    
            bottom.forEach(function(el) {
                el.style.height = heightest - heightesttop + 'px'
            })
    
            content.forEach(function(el) {
                if(el.offsetHeight > heightest) heightest = el.offsetHeight
            })
    
            content.forEach(function(el) {
                if(!el.querySelector('.top')){
                    el.querySelector('.bottom').style.height = heightest + 'px'
                }
                if(!el.querySelector('.bottom')){
                    el.querySelector('.top').style.height = heightest + 'px'
                }
                el.style.height = heightest + 'px'
            })
        })
    })
</script>