<%
    var background_url = getData('background_url')
    var logo_img_url = getData('logo_img_url')
    var content_below_logo = getData('content_below_logo')
    var placeholder_input = getData('placeholder_input')

    var column_2_title = getData('column_2_title')
    var column_2 = getData('column_2')

    var column_3_title = getData('column_3_title')
    var column_3 = getData('column_3')

    var column_4_title = getData('column_4_title')
    var column_4 = getData('column_4')
    var copy_right = getData('copy_right')

%>

<style>
    footer{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
</style>

<footer style="background-image: url(<%=background_url%>);">
    <div class="kdg-container">
        <div class="kdg-row">
            <div class="kdg-col-3">
                <a href="/" class="logo"><img src="<%=logo_img_url%>" alt=""></a>
                <div class="des"><%-content_below_logo%></div>
                <form action="/footer-post" method="post">
                    <input type="text" placeholder="<%=placeholder_input%>">
                    <i class="fab fa-telegram-plane"></i>
                </form>
            </div>
            <div class="kdg-col-3">
                <h4 class="title"><%=column_2_title%></h4>
                <ul>
                    <%column_2.forEach(el => {%>
                        <li><a href="<%=el.targer%>"><%=el.title%></a></li>    
                    <%})%>
                </ul>
            </div>
            <div class="kdg-col-3">
                <h4 class="title"><%=column_3_title%></h4>
                <ul>
                    <%column_3.forEach(el => {%>
                        <li><a href="<%=el.targer%>"><%=el.title%></a></li>    
                    <%})%>
                </ul>
            </div>

            <div class="kdg-col-3">
                <h4 class="title"><%=column_4_title%></h4>
                <ul>
                    <%column_4.forEach(el => {%>
                        <li>
                            <span><img src="<%=el.icon_url%>" alt=""></span>
                            <span><%=el.text%></span>
                        </li>    
                    <%})%>
                </ul>
            </div>
        </div>
    </div>
</footer>
<div class="copyright"><%=copy_right%></div>