<%
    var sub_title = getData('sub_title')
    var show_sub_title = getData('show_sub_title')
    var title = getData('title')
    var show_title = getData('show_title')
    var block = getData('block')
%>
<div data-id="<%=data.id%>" id="block9" class="block">
    <div class="kdg-container">
        <div class="block-title text-c">
            <%if(show_sub_title){%>
                <p><%=sub_title%></p>    
            <%}%>
            <%if(show_title){%>
                <h2><%=title%></h2>    
            <%}%>
        </div>
        <div style="--block9-item : <%=block.length%>" class="kdg-row kdg-column-4 maincontent">
            <div class="track">
                <%block.forEach(el=> {%>
                    <div class="item">
                        <div class="image">
                            <img src="<%=el.img_url%>" alt="">
                            <p class="des"><%=el.short_description%></p>
                            <a class="button" href="<%=el.target_url%>"><%=el.button_text%></a>
                        </div>
                    </div>
                <%})%>
            </div>
        </div>
    </div>
</div>

<script>
    function add3Dots(string, limit){
    var dots = "...";
    if(string.length > limit){
        string = string.substring(0,limit) + dots;
    }
    return string;
}

Array.from(document.querySelectorAll('#block9 .des')).forEach(function(el){
    el.innerText = add3Dots(el.innerText , 100)
})

</script>
