<%
    var img_url = getData('img_url')
    var percent_height = getData('percent_height')

    if(!percent_height){
        percent_height = 51.6
    }

    var block_banner = getData('block_banner')

    if(!block_banner) block_banner = []
    
    var banner_count = getData('banner_count')
    var show_banner_count = getData('show_banner_count')
%>
<div data-id="<%=data.id%>" style="--current-index : 0;--banner-count : <%=banner_count.length%>; --percent-height : <%=percent_height%>" id="banner" class="banner img img-banner">
    <%block_banner.forEach((el,index) => {%>
        <div style="--item-index : <%=index%>" class="block-banner">
            <img src="<%=el.img_url%>" alt="">
            <div class="info">
                <div class="block">
                    <%if(el.show_title){%>
                        <p class="title"><%-el.title%></p>
                    <%} %>
    
                    <%if(el.show_description){%>
                        <p class="description"><%-el.description%></p>
                    <%}%>
    
                    <%if(el.show_button){%>
                        <a href="<%=el.button_url%>" class="button"><%=el.button_text%></a>
                    <%}%>
                </div>
            </div>
        </div>
    <%})%>
    
    <%if(show_banner_count){%>
        <div class="count">
            <div class="kdg-container">
                <div class="kdg-row kdg-column-5 text-c">
                    <%banner_count.forEach(count => {%>
                        <%if(count.show){%>
                            <div class="item va-t">
                                <div class="info">
                                    <div class="top">
                                        <img src="<%=count.img_url%>" alt="">
                                        <span class="text">
                                            <%=count.text_count%>
                                        </span>
                                    </div>
                                    <div class="bottom">
                                        <span><%=count.text_description%></span>
                                    </div>
                                </div>
                            </div>
                        <%}%>
                    <%})%>
                </div>
            </div>
        </div>
    <%}%>
</div>