<%
    var background_color = getData('background_color')

    if(!background_color) background_color = '#F1F3F4'

    var sub_title = getData('sub_title')
    var show_sub_title = getData('show_sub_title')
    var title = getData('title')
    var show_title = getData('show_title')
    var description = getData('description')
    var show_description = getData('description')
    
    var block = getData('block')
%>
<div data-id="<%=data.id%>" style="--background-color : <%=background_color%>" id="block3" class="block block3">
    <div class="kdg-container">
        <div class="block-title text-l">
            <%if(show_sub_title){%>
                <p><%=sub_title%></p>    
            <%}%>
            <%if(show_title){%>
                <h2><%=title%></h2>    
            <%}%>
        </div>
        <div class="kdg-row maincontent">
            <div class="kdg-col-6 va-m">
                <div class="description">
                    <%if(show_description){%>
                        <div><%-description%></div>
                    <%}%>
                </div>
            </div>
            <div class="kdg-col-6 va-m">
                <div class="track">
                    <div style="--block3-item : <%=block.length%>" class="list-item">
                        <%block.forEach(el => {%>
                            <div class="item">
                                <%if(el.show_img){%>
                                    <div class="left">
                                        <img src="<%=el.img_url%>" alt="">
                                    </div>
                                <%}%>
                                <div class="right">
                                    <%if(el.show_title){%>
                                        <h3 class="title"><%=el.title%></h3>
                                    <%}%>
                                    <%if(el.show_content){%>
                                        <div class="des"><%-el.content%></div>
                                    <%}%>
                                </div>
                            </div>    
                        <%})%>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>