
<%
var listSocials = data.datas.find(o => o.key === 'socials').data
var flag = {
    vi : data.datas.find(o => o.key === 'vi_flag').data,
    en : data.datas.find(o => o.key === 'en_flag').data
}
%>
<header>
    <div class="topheader">
        <div class="kdg-container">
            <ul class="list-socials">
                <%listSocials.forEach(social =>{%>
                    <li>
                        <a target="_blank" href="<%=social.target_url%>">
                            <img src="<%=social.img_url%>" alt="">
                        </a>
                    </li>
                <%})%>
            </ul>
            <div class="choose-language">
                <div class="current">
                    <img src="<%=flag.vi%>" alt="">
                </div>
                <ul class="dropdown">
                    <%Object.keys(flag).forEach(key => {%>
                        
                        <li onclick="document.cookie = 'language=<%=key%>; expires=Thu, 18 Dec 2099 12:00:00 UTC'"><img src="<%=flag[key]%>" alt=""></li>

                    <%})%>
                </ul>
            </div>
        </div>
    </div>
</header>

<script>
    var chooselang = document.querySelector('.choose-language')
    chooselang.onclick = function () {
        if(Array.from(chooselang.classList).indexOf('active') === -1){
            chooselang.classList.add('active')
        }else{
            chooselang.classList.remove('active')
        }
    }
</script>