<%
    var sub_title = getData('sub_title')
    var show_sub_title = getData('show_sub_title')
    var title = getData('title')
    var show_title = getData('show_title')
    var block = getData('block')
    
%>
<div id="block6" class="block">
    <div class="kdg-container">
        <div class="block-title text-c">
            <%if(show_sub_title){%>
                <p><%=sub_title%></p>    
            <%}%>
            <%if(show_title){%>
                <h2><%=title%></h2>    
            <%}%>
        </div>
        <div style="--block6-item : <%=block.length%>" class="maincontent">
            <div class="kdg-row kdg-column-3">
                <%block.forEach(el => {%>
                    <div class="item">
                        <div class="content">
                            <div class="left"><%=el.index%></div>
                            <div class="right">
                                <div class="index"><%=el.index%>.</div>
                                <div class="group-title">
                                    <p class="sub-title"><%=el.sub_title%></p>
                                    <h4 class="title"><%=el.title%></h4>
                                </div>
                                <div class="des"><%-el.description%></div>
                                <%if(el.show_button_text){%>
                                    <a href="<%=el.target_url%>" class="button"><%=el.button_text%></a> 
                                <%}%>
                            </div>
                        </div>
                    </div>
                <%})%>
            </div>
        </div>
    </div>
</div>
